<div class="columns col-gapless">
	<div class="column col-6 leftPanel">
		<div class="leftPanel-baground-image" ></div>
	</div>
  	<div class="column col-6 rightPanel">
		<h1>Welcom</h1>
		<p>Please use the following credentials to login to system</p>
		<div class="credentials">
			<div>
				<span>Username: </span>
				<span><strong>test@test.com</strong></span>
			</div>
			<div>
				<span>Password: </span>
				<span><strong>test@123</strong></span>
			</div>
		</div>
		<div class="form-group">
			<button class="btn btn-primary" (click)="auth.login();">Log in </button>
		</div>
	</div>
</div>