<header class="navbar header">
  
  <div class="navbar-primary">	
  	<div class="container grid-xl">
	    <a class="active" routerLink="/home">Home</a>
	    <div class="header-right">
	    	<div class="float-left">
		    	<section class="navbar-section" *ngIf="isResult || error">
				   <app-search-tweet [searchName]="searchName"></app-search-tweet>
				</section>
			</div>
			<div class="float-right">
			    <a href="javascript:void(0)" (click)="auth.logout();">Log out</a>
			</div>
		</div> 
	</div>
  </div>
</header>